body {
    background-color:MediumPurple;
    Color: white;
    Margin:20px 20px 20px 20px;
}

h1 {
     font-family:"Verdana", Times, serif;
     text-align:center;
}

p {
    font-family:Verdana, Helvetica, sans-serif;
}

h1 {
     font-family:"Verdana", Times, serif;
     text-align:center;
}

p {
    font-family:Verdana, Helvetica, sans-serif;
}